
.icon-search:before { content: '\e804'; } /* '' */
.icon-user:before { content: '\e803'; } /* '' */
.icon-location:before { content: '\e800'; } /* '' */
.icon-commerical-building:before { content: '\e806'; } /* '' */
.icon-home:before { content: '\e805'; } /* '' */
.icon-key:before { content: '\e802'; } /* '' */